* {
	margin: 0;
	padding: 0;
}

body {
	width: 100%;
	background-color: grey;
}

#main {
	text-align: center;
	width: 100%;
	margin: 0 auto;
	background-color: #FFF;
}

#ajaxHere {
	height: 500px;
	display: block;
}
